<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/02第2章_Java并行程序基础/src/_2_2初始线程_线程的基本操作/_2_2_1新建线程/NewThread.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="_2_2初始线程_线程的基本操作._2_2_1新建线程.NewThread"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="02第2章_Java并行程序基础"/>
</launchConfiguration>
